/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  font: inherit;
  background: none;
}

small {
  font: inherit;
}

/* BASE */
body {
  font-family: "Inter", sans-serif;
  background-color: #f1d4b3;
  color: #292218;
  overflow: hidden;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  width: 972px;
  height: 636px;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 7fr 4fr;
  grid-template-rows: 59px 1fr;
  box-shadow: 0 4px 4px rgba(0, 0, 0, .08);
}